 {% extends 'base.html' %} 
 {% load i18n static %}
 
 {% block content %}
<div class="row">
    {% if messages %}
    <div class="col-lg-12 mt-4">
        {% for message in messages %}
        <div class="alert alert-dismissible alert-{{ message.tags }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p class="mb-0">{{ message }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="col-lg-12 mt-4">
        <h1>Utenti</h1>
    </div>
    <div class="col-lg-10">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        {% trans "Avatar" %}
                    </th>
                    <th scope="col">
                        {% trans "Tipologia" %}
                    </th>
                    <th scope="col">
                        {% trans "Nome e Cognome" %}
                    </th>
                    <th scope="col">
                        {% trans "Username" %}
                    </th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr class="dynamic__item" data-code="{{ user.username }}" data-type="users">
                    <td>
                        <img class="img-circle" src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'makalu/img/avatar-empty.png' %}{% endif %}" height="26" />
                    </td>
                    <td>
                        {% if user.is_staff %} staff {% else %} user {% endif %}
                    </td>
                    <td>
                        {{ user.first_name }} {{ user.last_name }}
                    </td>
                    <td>
                        {{ user.username }}
                    </td>
                    <td>
                        <a class="" href="{% url 'makalu:user-read' user.username  %}">
                            <small>
                                {% trans "Dettagli" %}
                            </small>
                        </a>
                    </td>
                    <td>
                        {% if not request.user.username == user.username%}
                        <a class="" data-toggle="modal" data-target="#modal-delete" data-message="{% trans 'Sei sicuro di voler eliminare' %} {{ user.first_name}} {{ user.last_name }}?"
                            data-url="{% url 'makalu:user-delete' %}" data-code="{{ user.username}}">
                            <small>
                                {% trans "Elimina" %}
                            </small>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-lg-2">
        <a class="btn btn-primary btn-lg text-white" href="{% url 'makalu:user-create' %}">{% trans 'Aggiungi Utente' %}</a>
    </div>
</div>

{% include 'makalu/snippets/modal-delete.html' %}

{% endblock %}