{% load i18n %}

<div class="modal fade" id="modal-transmit">
    <div class="modal-dialog" role="document">
        <form id="form-transmit" action="{% url 'makalu:invoice-transmit' %}" method="POST">{% csrf_token %}
            <input id="input-code" type="hidden" name="code">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title">{% trans "Trasmissione al SDI" %}</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <div class="alert alert-warning d-none"></div>
                        <p id="message-delete"></p>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label col-form-label-lg" for="date">{% trans 'Trasmessa il' %}</label>
                        <input class="form-control form-control-lg" placeholder="{% now 'SHORT_DATE_FORMAT' %}" id="date" type="text" name="date">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">{% trans 'Trasmetti' %}</button>
                </div>
            </div>
        </form>
    </div>
 </div>