{% load i18n %}

<div class="modal fade" id="modal-delete">
    <div class="modal-dialog" role="document">
        <form id="form-delete" action="" method="POST">{% csrf_token %}
            <input id="input-code" type="hidden" name="code">
            <input id="input-redirect" type="hidden" name="redirect">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title">{% trans "Elimina elemento" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <div class="alert alert-warning d-none"></div>
                        <p id="message-delete"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">{% trans 'Elimina' %}</button>
                </div>
            </div>
        </form>
    </div>
 </div>