<div class="modal fade" id="modal-article">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form action="{% url 'makalu:invoice-row-create' invoice.uuid %}" method="POST">{% csrf_token %}
                <div class="modal-header bg-primary text-white">
                    <h5 class="modal-title">Nuovo Articolo</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label for="{{ articleform.description.id_for_label }}" class="col-form-label col-form-label-lg" >Descrizione</label>
                            <textarea class="form-control form-control-lg" id="{{ articleform.description.id_for_label }}" name="{{ articleform.description.html_name }}"></textarea>
                        </div>
                        <div class="form-group col-lg-4">
                            <label class="col-form-label col-form-label-lg" for="{{ articleform.quantity.id_for_label }}">Quantita</label>
                            <input class="form-control form-control-lg" id="{{ articleform.quantity.id_for_label }}" name="{{ articleform.quantity.html_name }}" />
                        </div>
                        <div class="form-group col-lg-4">
                            <label class="col-form-label col-form-label-lg" for="{{ articleform.unit_price.id_for_label }}">Prezzo Unitario</label>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-euro-sign"></i></span>
                                    </div>
                                    <input class="form-control form-control-lg" id="{{ articleform.unit_price.id_for_label }}" name="{{ articleform.unit_price.html_name }}" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-4">
                            <label class="col-form-label col-form-label-lg" for="{{ articleform.taxrate.id_for_label }}">Imposte</label>
                            <select class="custom-select form-control-lg" id="{{ articleform.taxrate.id_for_label }}" name="{{ articleform.taxrate.html_name }}">
                                {% for item in taxrates %}
                                <option value="{{ item.1 }}">{{ item.2 }} ({{ item.1 }}%)</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-lg">Aggiungi</button>
                </div>
            </form>
        </div>
    </div>
</div>