{% load static i18n %}

<label class="float-right col-form-label-lg">
    <!-- SHOW -->
    <a class="showpassword">
        <i class="fa fa-eye"></i>&nbsp;{% trans "Mostra" %}
    </a>

    <!-- HIDE -->
    <a class="hidepassword d-none">
        <i class="fa fa-eye-slash"></i>&nbsp;{% trans "Nascondi" %}
    </a>
</label>
<input data-mode="password" placeholder="{% trans "Password" %}" name="{% if not form %}password{% else %}{{ form.password.html_name }}{% endif %}" type="password" class="form-control form-control-lg {% if form.password.errors %}is-invalid{% endif %}" {% if not update %}required{% endif %}>
{% if not login %}
<div class="form-group password-info-box row">
    <div class="col-md-6">
        <ul>
            <li class="lowercase-char">{% trans "Una lettera minuscola" %}</li>
            <li class="uppercase-char">{% trans "Una lettera maiuscola" %}</li>
            <li class="number-char">{% trans "Un numero" %}</li>
        </ul>
    </div>

    <div class="col-md-6">
        <ul>
            <li class="special-char">{% trans "Un carattere speciale" %}</li>
            <li class="8-char">{% trans "Almeno 8 caratteri" %}</li>
        </ul>
    </div>
</div>
{% endif %}