{% extends 'makalu-base.html' %} {% load i18n static %} {% block content %}
<div class="row mt-5">
    {% if messages %}
    <div class="col-lg-12 mt-4">
        {% for message in messages %}
        <div class="alert alert-dismissible alert-{{ message.tags }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p class="mb-0">{{ message }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="col-lg-12 mb-4">
        <form action="{% if company %}{% url 'makalu:company-read' company.uuid %}{% else %}{% url 'makalu:company-create' %}{% endif %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
                <div class="col-lg-2">
                    <img src="{% static 'makalu/img/company.png' %}" height="100" />
                </div>
                <div class="col-lg-10">
                    <h4>
                        {% if company %} {{ company.name }} {% else %} {% trans 'Nuovo Cliente' %} {% endif %}
                    </h4>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label class="col-form-label col-form-label-lg">{% trans 'Ragione Sociale' %}:</label>
                            <input class="form-control form-control-lg" type="text" name="{{ form.name.html_name }}" 
                            {% if form.name.errors%} class="error" {% endif %} 
                            {% if company.name %} value="{{ company.name }}" {% elif form.name.value %} value="{{ form.name.value }}" {% endif %}/>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label class="col-form-label col-form-label-lg">{% trans 'Regime Fiscale' %}:</label>
                            <select class="custom-select form-control-lg" name="{{ form.fiscal_type.html_name }}">
                                {% for item in fiscaltypes %}
                                <option value="{{ item.1 }}" {% if company.fiscal_type %}{% if company.fiscal_type == item.1 %}selected=""{% endif %}{% endif %}>{{ item.2 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label class="col-form-label col-form-label-lg">{% trans 'Indirizzo' %}:</label>
                            <input class="form-control form-control-lg" type="text" name="{{ form.address.html_name }}" 
                            {% if form.address.errors%}class="error" {% endif %} 
                            {% if company.address %} value="{{ company.address }}" {% elif form.address.value %} value="{{ form.address.value }}" {% endif %}/>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label class="col-form-label col-form-label-lg">{% trans 'Numero Civico' %}:</label>
                            <input class="form-control form-control-lg" type="text" name="{{ form.address_number.html_name }}" 
                            {% if form.address_number.errors%}class="error" {% endif %} 
                            {% if company.address_number %} value="{{ company.address_number }}" {% elif form.address_number.value %} value="{{ form.address_number.value }}" {% endif %}/>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label class="col-form-label col-form-label-lg">{% trans 'CAP' %}:</label>
                            <input class="form-control form-control-lg" type="text" name="{{ form.zip_code.html_name }}" 
                            {% if form.zip_code.errors%}class="error" {% endif %} 
                            {% if company.zip_code %} value="{{ company.zip_code }}" {% elif form.zip_code.value %} value="{{ form.zip_code.value }}" {% endif %}/>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label class="col-form-label col-form-label-lg">{% trans 'Comune' %}:</label>
                            <input class="form-control form-control-lg" type="text" name="{{ form.city.html_name }}" 
                            {% if form.city.errors%}class="error" {% endif %} 
                            {% if company.city %} value="{{ company.city }}" {% elif form.city.value %} value="{{ form.city.value }}" {% endif %}/>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label class="col-form-label col-form-label-lg">{% trans 'Provincia' %}:</label>
                            <select class="custom-select form-control-lg" name="{{ form.province.html_name }}">
                                {% for item in provinces %}
                                <option value="{{ item.1 }}" {% if company.province %}{% if company.province == item.1 %}selected=""{% endif %}{% endif %}>{{ item.2 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label class="col-form-label col-form-label-lg">{% trans 'Nazione' %}:</label>
                            <select class="custom-select form-control-lg" name="{{ form.country.html_name }}">
                                {% for item in countries %}
                                <option value="{{ item.0 }}" {% if company.country %}{% if company.country == item.0 %}selected=""{% endif %}{% endif %}>{{ item.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label class="col-form-label col-form-label-lg">{% trans 'Codice Fiscale' %}:</label>
                            <input class="form-control form-control-lg" type="text" name="{{ form.fiscal_code.html_name }}" 
                            {% if form.fiscal_code.errors%}class="error" {% endif %} 
                            {% if company.fiscal_code %} value="{{ company.fiscal_code }}" {% elif form.fiscal_code.value %} value="{{ form.fiscal_code.value }}" {% endif %}/>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label class="col-form-label col-form-label-lg">{% trans 'Partita IVA' %}:</label>
                            <input class="form-control form-control-lg" type="text" name="{{ form.vat_code.html_name }}" 
                            {% if form.vat_code.errors%}class="error" {% endif %} 
                            {% if company.vat_code %} value="{{ company.vat_code }}" {% elif form.vat_code.value %} value="{{ form.vat_code.value }}" {% endif %}/>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label class="col-form-label col-form-label-lg">{% trans 'Codice di Trasmissione' %}:</label>
                            <input class="form-control form-control-lg" type="text" name="{{ form.code.html_name }}" 
                            {% if form.code.errors%}class="error" {% endif %} 
                            {% if company.code %} value="{{ company.code }}" {% elif form.code.value %} value="{{ form.code.value }}" {% endif %}/>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label class="col-form-label col-form-label-lg">{% trans 'Indirizzo PEC' %}:</label>
                            <input class="form-control form-control-lg" type="text" name="{{ form.pec.html_name }}" 
                            {% if form.pec.errors%}class="error" {% endif %} 
                            {% if company.pec %} value="{{ company.pec }}" {% elif form.pec.value %} value="{{ form.pec.value }}" {% endif %}/>
                        </div>


                        <div class="clearfix"></div>

                        <div class="col-sm-12 mar-20-0 text-right">
                            <button class="btn btn-primary btn-lg" type="submit">
                                {% if invoiceuser %}{% trans 'Aggiorna' %}{% else %}{% trans 'Salva' %}{% endif %}
                            </button>
                        </div>
                    </div>

                    {% if error %}
                    <div class="alert alert-danger">
                        {% blocktrans %}Attenzione! C'è un errore nei dati inseriti.{% endblocktrans %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </form>

        {% if company %}
        <hr>
        <h2 class="mt-4">Fatture</h2>

        {% if invoices %}

        <table class="table mt-3">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">N.</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Data</th>
                    <th scope="col">Totale</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in invoices %}
                <tr>
                    <th scope="row">{{ item.number }}</th>
                    <td>{{ item.rows.0.description }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.total }}</td>
                    <td>
                        <a href="{% url 'makalu:invoice-read' item.uuid %}"><i class="fas fa-eye"></i></a>
                        <a><i class="fas fa-file-alt"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-dismissible alert-light">
            Non ci sono ancora fatture.
        </div>
        {% endif %}
        {% endif %}
     </div>
</div>
{% endblock %}